################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kurs/.vs/kurs/v15/Server/sqlite3
